{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
      <form action="{{ url_for('ytanalysis')}}" method="POST">
        <label for="link">YouTube Link</label>
        <input type="text" name="link" id="link">
        <label for="title">Youtube Video Title</label>
        <input type="text" name="title" id="title">
        <label for="time">Start at (in seconds)</label>
        <input type = "number" name = 'time' id = 'time'>
        <input type="submit">
      </form>
{% endblock %}